version: "3"

services:
  builder:
    image: openwrt/sdk:x86_64-generic-v22.03.7
    container_name: uu-booster-builder
    environment:
      - CONFIG_AUTOREMOVE=y
      - CONFIG_BUILD_LOG=n
    volumes:
      - "./packages:/packages:ro"
      - "./output:/output"
      - "./sdk:/builder"
    working_dir: /builder
    command: tail -f /dev/null
